<h1 id="tableLabel">Products</h1>

<p>This component lists the products.</p>

<p *ngIf="!products"><em>Loading...</em></p>

<div *ngIf="products">
    <p>Total # of products: {{ products.totalEntities }}.</p>

    <nav aria-label="Page navigation example">
        <ul class="pagination">


            <li class="page-item" *ngFor="let first of products.firstPages">
                <a [routerLink]="" class="page-link" (click)="getProducts(first)">{{first}}</a>
            </li>

            <li class="page-item disabled">
                <a [routerLink]="" class="page-link">...</a>
            </li>

            <li class="page-item" *ngFor="let previous of products.previousPages">
                <a [routerLink]="" class="page-link" (click)="getProducts(previous)">{{previous}}</a>
            </li>

            <li class="page-item active">
                <a class="page-link" [routerLink]="">{{currentPage}} <span class="sr-only">(current)</span></a>
            </li>

            <li class="page-item" *ngFor="let next of products.nextPages">
                <a [routerLink]="" class="page-link" (click)="getProducts(next)">{{next}}</a>
            </li>

            <!--<li class="page-item disabled" *ngIf="products.elipsesAfterNext">-->
            <li class="page-item disabled">
                <a [routerLink]="" class="page-link">...</a>
            </li>


            <li class="page-item" *ngFor="let last of products.lastPages">
                <a [routerLink]="" class="page-link" (click)="getProducts(last)">{{last}}</a>
            </li>
        </ul>
    </nav>
</div>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="products">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products.entities">
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price }}</td>
        </tr>
    </tbody>
</table>
